.swap-heading-lines {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}

.swap-heading-lines-inner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heading-swap {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: center;
}

.try-free-btn {
  border: 1px solid white;
  border-radius: 10px;
}

.swap-page-main-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swapmain-div {
  display: flex;
  align-items: center;
  height: 6rem;
}

.get-up-col {
  display: flex;
  justify-content: center;
  align-items: center;

}

.swapmain-div2 {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.swap-heading {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 18rem;
  border-right: 1px solid white;
}

.swap-heading2 {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 40rem;

  border: 1px solid white;
  border-left: none;
}

.swap-heading p {
  font-size: large;
  font-weight: 800;
}

.getup-main {
  /* margin-top: 10rem; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
 
  padding: 1rem;
  height: 30rem;
}
.getup-main-inner{
margin-top: -5rem;

}

.dotherest-body-inner-div p {
  width: 8rem;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  float: right;
}

.slider-track {
  width: 40rem;
  display: flex;
  scroll-snap-type: x mandatory;
  animation: scroll 15s linear infinite;
}
.Portfolio-swap-card{
  display: flex;
  justify-content: space-between;
}
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40rem !important;
  gap: .5rem;
  /* Set the fixed width for each item */
  padding: 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f6f6f6;
  margin-right: 3rem;
  /* scroll-snap-align: start; */
}
@keyframes scrollss {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.slider-item p{
width: 8rem;
/* background: #34ad5d; */
}

.swap-section {
  margin-top: -5rem;
  
}
.logo-service-img{
  border: 1px solid white;
  border-radius: 50%;
}
.slider-item-coins {

  display: flex;
  box-sizing: border-box;
  width: 47rem !important;
  gap: 1rem;
  /* Set the fixed width for each item */
  padding: 5px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #241f1f;
  margin-right: 3rem;
  scroll-snap-align: start;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-50rem - 10px));
    /* Adjust for the gap */
  }
}


.animation-heading-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: -5rem;
}

.centered-circle-icon-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dotherest-main-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

.dotherest-main-borders {
  position: absolute;
  width: 54%;
  height: 10rem;
  top: 1rem;
  left: 20rem;
  z-index: 10;
  /* overflow: hidden; */
}

.dotherest-ineer-body {
  display: flex;
  flex-direction: row;
  width: 80%;
  position: relative;
  justify-content: space-around;
}

.centered-circle-icon {
  /* position: absolute; */
  width: 90px;
  height: 90px;
  background-color: #2d2e2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  z-index: 10;
  bottom: -4rem;
  /* left: 20rem; */
  /* top: .1rem; */
  /* right: 1rem; */
}

.centered-circle-icon1 {
  /* position: absolute; */
  width: 90px;
  height: 90px;
  background-color: #34ad5d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  left: -3rem;
  bottom: -3rem;
  /* left: 20rem; */
  /* top: .1rem; */
  /* right: 1rem; */
}

.centered-circle-icon2 {
  /* position: absolute; */
  width: 90px;
  height: 90px;
  background-color: #34ad5d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  right: -3rem;
  bottom: -3rem;
  /* left: 20rem; */
  /* top: .1rem; */
  /* right: 1rem; */
}

/* .pag-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.pag-2 {
  position: absolute;
  top: 0;
  right: 0;
} */

.active-animatioon {
  background-image: linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(90deg, transparent 100%, transparent 100%), linear-gradient(0deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
}

.active-animatioons {
  background-image: linear-gradient(90deg, transparent 100%, transparent 100%), linear-gradient(90deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%), linear-gradient(0deg, silver 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dances 1s infinite linear;
}

@keyframes border-dances {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
}





/* .borderss {

        height: 300px;
        width: 900px;
        background: linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(90deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 30px 8px, 30px 8px, 8px 30px, 8px 30px;
        background-position: 0px 0px, 900px 300px, 0px 300px, 900px 0px;
        padding: 10px;
        animation: border-dance 4s infinite linear;
      }
      
      @keyframes border-dance {
        0% {
          background-position: 0px 0px, 600px 290px, 0px 300px, 432px 0px;
        }
        100% {
          background-position: 600px 0px, 0px 232px, 0px 0px, 432px 300px;
        }
      } */
.dotherest-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  z-index: 1000;
  height: 13rem;

}

/* .pagraph-swap{
  width: 3rem;
} */
.icon-paraghp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8rem;
  margin-top: 5rem;
}

.border-large-animation {
  position: absolute;
  z-index: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  height: 10rem;
}

.dotherest-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.dotherest-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.card-swap {
position: relative;
  background-color: #064BD9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  height: 13rem;
  width: 25rem;
  padding: 24px 24px 40px;
  box-shadow: 0 8px 16px rgba(41, 41, 41, .04), 0 0 6px rgba(41, 41, 41, .04);
  border-radius: 16px;
  position: relative;
}
.card-swap-inner{
  background: white;
position: absolute;
bottom: 0;
right: 0;
height: 4rem;
width: 10rem;
display: flex;
justify-content: center;
align-items: center;
color: #141416;
border-top-left-radius: 70%;
}
.card-container-swap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icon-container-swap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* Adjust gap between items as needed */
}

.icon-item {
  box-sizing: border-box;
  width: 70px;
  /* Fixed width for each item */
  height: 70px;
  /* Fixed height for each item */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* padding: 1rem; */
  /* background:#2d2e2e ; */
  /* Text color */
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  background-size: contain;
  /* Use contain instead of cover */
  background-repeat: no-repeat;
  background-position: center;
  /* gap: 5rem; */
}
.icon-container-swap-inner{
  
  display: flex;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  background: #2d2e2e;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

@media (max-width:767px) {
  .getup-main-inner{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    }
    .card-container{
      flex-direction: column;
      gap: 2rem;
    }

    .card-swap {
    
        width: 15rem;
        
      }
  /* .banner {
    width: 150%;
    margin: 3rem;
  } */
  .getup-main{
    width: 100%;
  }
  .swap-heading2 {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    width: auto;
    background: black;
    z-index: 10000;
    border: 1px solid white;
    border-left: none;
}
.swap-heading2 h4{
font-size: 16px;
}
.slider-container {
    /* overflow:none; */
    width: auto; 
     /* float: right; */
}
.swapmain-div2 {
width: 100%;
}
.services-2 .services_image .experience .list-felling {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
  padding-inline: 3rem;
 
}
.swap-section{
display: none;
}
}